@import 'globals';

.content {
  margin-bottom: 100px;

  &.flex {
    align-items: flex-end;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }

  a {
    color: $primary-color;
    text-decoration: underline;

    &:hover {
      background-color: $primary-color-fade;
      color: $white;
    }
  }

  img {
    height: auto;
    max-width: 100%;
    width: 100%;
  }

  p {
    margin: 0 0 30px;
  }

  .img-caption {
    color: $primary-color-fade;
    font-size: 17px;
    line-height: 1.2;
    margin: 0 0 -5px;
  }
}


@media #{$small-only} {
  .content {
    margin-bottom: 100px;
    
    &.flex {
      display: block;
    }

    .img-caption {
      margin: 10px 0;
    }
  }
}
