/*
Flag switch pen by Alberto Jerez (www.ajerez.es)
http://codepen.io/ajerez/pen/doOGqR/
 */

$color1: #1FA9D6;
$color2: #EE4B5E;
$color3: #00cc22;
$switch-height: 30px;
$switch-width: $switch-height;
$knob-height: 28px;
$translate-distance: $switch-width;
// Sprite with two flags
$first-flag: #000233 url('../images/flag_de_en_font.jpg') -2px center;
$second-flag: #eb3 url('../images/flag_de_en_font.jpg') -26px center;


.flag-switch {
    position: relative;
    outline: 0;
    appearance: none;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform:translate3d(0,0,0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 60px;
    height: $switch-height;
    margin: 5px auto;

    &:before , &:after {
        position: absolute;
        color: black;
        top: 8px;
        font-size: 13px;
        font-weight: 700;
    }

/*    &:before {
        left: -19px;
        content: attr(data-first-lang);
    }

    &:after {
        right: -17px;
        content: attr(data-second-lang);
    }*/

    input{
        display:none;
    }

    input + label {
        display: block;
        position: absolute;
        cursor: pointer;
        user-select: none;
        width: 60px;

        &:before, &:after {
            content: "";
            position: absolute;
            border-radius: 30px;
            border: 1px solid #B2B2B2;
            transition: all 0.25s ease-in-out;
        }

        &:before {
            height: $switch-height;
            width: $switch-width*2;
            background-color: $color3;
        }

        &:after {
            top: 1px;
            left: 1px;
            border: 2px solid white;
            width: $knob-height;
            height: $knob-height;
            content: 'EN';
            font-size: 13px;
            line-height: 2;
            background-color: white;
            transform:  translate($translate-distance, 0);
            -webkit-transform: translate($translate-distance, 0);

        }
    }

    input:checked + label:after {
        background: white;
        content: 'DE';
        font-size: 13px;
        line-height: 2;
        transition: all 0.25s ease-in-out;
        -webkit-transform: translate(0 ,0);
        transform: translate(0 ,0);
    }

    input:checked + label:before {
        background-color: $color3;
        /*border: 1px solid #555;*/
    }
}
