@import 'globals';

.footer {
  background-color: $secondary-color;
  min-width: 100%;
  padding: 100px 0;

  p {
    color: $white;
    font-size: 18px;
    line-height: 1.5;
  }

  a {
    color: $primary-color;
    text-decoration: underline;

    &:hover {
      color: $primary-color-fade;
    }
  }

  .heading {
    color: $white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
  }
}

@media #{$small-only} {
  .footer {
    padding-bottom: 50px;

    .columns {
      margin-bottom: 25px;
    }

    .heading {
      margin-bottom: 20px;
    }
  }
}
