// bower:scss
// endbower

// imports
@import 'foundation/settings';

$row-width: rem-calc(1220) !default;
$column-gutter: rem-calc(20);
$large-breakpoint:  em-calc(1280) !default;

@import 'foundation/components/global';
@import 'foundation/components/buttons';
@import 'foundation/components/grid';
@import 'foundation/components/magellan';
@import 'foundation/components/orbit';
@import 'foundation/components/visibility';

@import 'components/globals';
@import 'components/nav';
@import 'components/back-to-top';
@import 'components/buttons';
@import 'components/flag';
@import 'components/fonts';
@import 'components/landing';
@import 'components/content';
@import 'components/content-table';
@import 'components/content-facts';
@import 'components/content-team';
@import 'components/content-list';
@import 'components/quotes';
@import 'components/footer';
