.nav-icon {
  background: #4c5;
}

.nav-icon:hover {
    color: #000;
}

.breadcrumb {
	background: #4c5;
}

.breadcrumb-link:hover {
    color: #000;
}

.languages, .topbar {
  z-index: 100;
  background: #4c5;
}

.tag {
  background: #4c5;
}

.topbar .message {
  background-color: #4c5;
}

.btn-rounded {
  border: 2px solid #4c5;
  background: #4c5;
}

.btn-rounded:focus, .btn-rounded:hover {
  border: 2px solid #112;
  background: #112;
  color: #fff;
}

body.ltr .breadcrumb-label:after {
  right: 0;
  background: -webkit-linear-gradient(to left,transparent,#4c5);
  background: -webkit-linear-gradient(to left,transparent,#4c5);
  background: -moz-linear-gradient(to left,transparent,#4c5);
  background: -ms-linear-gradient(to left,transparent,#4c5);
  background: linear-gradient(to left,transparent,#4c5);
}

.team-portrait {
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px 10px 0;
}

.team-teaserpic {
  margin-right: 50px;
}

.field-with-headline {
    padding-top: 3em;
}

/* structured fields */


.structure-entry-content {
    padding: 2em 1.5em;
}
